# Default ignored files
/shelf/
/workspace.xml

# Android build artifacts
android/app/build/
android/.gradle/
android/.idea/
android/app/.cxx/
android/app/intermediates/
android/app/generated/
android/app/outputs/
android/app/ndkBuild/
android/app/gradle/
android/app/release/

# Kotlin/Java compile cache
android/app/build/kotlin/
android/app/build/kotlin/**/*
android/app/build/kotlin/compileReleaseKotlin/
android/app/build/kotlin/compileDebugKotlin/
android/app/build/kotlin/cacheable/
android/app/build/kotlin/cacheable/**/*

# Gradle files
*.iml
.gradle/
local.properties
/.idea/workspace.xml
/.idea/libraries/
*.ipr
*.iws
.gradle/
build/

# Flutter related files
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.dart_tool/
android/fastlane/report.xml
android/fastlane/metadata/android/

# Other cache
**/build/
**/.DS_Store